<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="logFileName" value="${basedir}/Logs/Nlog[${shortdate}].log"/>

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="${logFileName}" autoFlush="true" createDirs="true" layout="${processname}[${appdomain}]${date:format=HH\:mm\:ss\:ffff}|${level}| ${message}${onexception:inner=${newline}}${exception:format=tostring}" maxArchiveFiles="14"/>
    <target name="viewer" xsi:type="NLogViewer" address="udp://nldbl50323.acfgroup.local:9999"/>
  </targets>

  <rules>
    <logger name="webapisInternalRegistration.iis" minlevel="Trace" writeTo="logfile,viewer" />
  </rules>
</nlog>
