<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn" internalLogFile="Logs/nlog-internal.log"
      internalLogToConsole="true"
      internalLogToConsoleError="true">
  <!--<nlog internalLogLevel="Trace|Debug|Info|Warn|Error|Fatal" /> -->
  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to https://github.com/nlog/nlog/wiki/Configuration-file for more information -->

  <variable name="logFileName" value="${basedir}/Logs/Nlog[${shortdate}].log"/>

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="${logFileName}" autoFlush="true" createDirs="true" layout="${processname}[${appdomain}]${date:format=HH\:mm\:ss\:ffff}|${level}| ${message}${onexception:inner=${newline}}${exception:format=tostring}" maxArchiveFiles="14"/>
    <target name="viewer" xsi:type="NLogViewer" address="udp://nldbl50323.acfgroup.local:9999"/>
  </targets>

  <rules>
    <logger name="webapisExternal.iis" minlevel="Trace" writeTo="logfile,viewer" />
  </rules>
</nlog>